/*html {
    scroll-behavior: smooth;
  }*/

.my-nav{
    padding: 1rem;
}
@media(min-width:992px){
    .my-nav{
        padding: 2.6rem;
    }
}
.navbar-white{
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 1px 1px 1px #c6c6c6;
    transition: 0.2s ease;
}
.fa-bars{
    color: #fff;
}
.my-nav.navbar-white .fa-bars{
    color: #000;
}
.my-nav .brand-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.my-nav .brand-name img{
    width: 50px;
    margin-right: 8px;
}
.my-nav .brand-name .brand-title{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}
.my-nav.navbar-white .brand-name .brand-title{
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}
.my-nav .nav-item{
    text-align: center;
    /*position: relative;
    right: 10%;
    margin-top: 1rem;
    transform: translate(-50%, -50%);*/
}
.my-nav .dropdown-menu{
    top: 100%;
    right: 0;
    left: auto!important;
}
.my-nav .dropdown-toggle{
    border-radius: 50px;
    font-size: 0.8rem;
}
.my-nav .nav-menu .nav-link{
    color: #ffffff;
}
.my-nav.navbar-white .nav-menu .nav-link{
    color: #000;
}
.my-nav .nav-menu .nav-link:hover{
    color: #1187D1;
    border: none;
}
@media(min-width: 992px){
    .my-nav .nav-menu{
        display: flex;
        justify-content: center;
    }
    .my-nav .nav-dropdown{
        display: flex;
        justify-content: flex-end;
    }
}
.nav-item
{
    /*margin-left: 6px;
    margin-right: 6px;*/
    position: relative;
    right: 10%;
    margin-top: 1rem;
    transform: translate(-50%, -50%);
}

/* nav-ends */
/*
.side-nav{
    height: 100vh;
    background-color: white;
    width: 60vw;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1040;
    animation: slidein 0.3s ease-in-out .3s loop forward fill-mode;
}

@keyframes slidein{
    0%{
        right: -65vw;
    }
    100%{
        right: 0;
    }
}
*/


@media (max-width: 768px) {
    #sidebar{
        background-color: white;
    }

    #sidebar.collapse {
      position: fixed;
      z-index: 2000;
      transition: all .3s ease;
      top: 0;
      bottom: 0;
      right: -30%; /* -width of sidebar */
      width: 0;
      height: 100% !important;
      display: block;
    }
    
    #sidebar.collapsing {
        transition: all .18s ease-in;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -30%;  /* -width of sidebar */
        width: 30%;  /* width of sidebar */
        height: 100% !important;
        display: block;
    }
    
    #sidebar.collapse.show {
        left: 0;
        width: 30%;  /* width of sidebar */
    }
 }

a{
    color: #808080;
}



.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    background-color: #1187D1;
    border-radius: 30px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 16px 20px;
    z-index: 1;
    margin-top: 9px;
    left: 0px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-right: 20px;
  }

  @media screen and (max-width: 1200px)
  {
      .dropdown
      {
          left: 20%;
          text-align: center;
          padding-left: 1rem;
          padding-right: 1rem;
      }   
      .dropdown-content
      {
          text-align: left;
      }
      .nav-item{
        text-align: center;
        position: relative;
        right: 5%;
        margin-top: 1rem;
        transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width:1000px)
  {
      .dropdown
      {
          left: 0%;
          top: 0%;
          transform: none;
          text-align: center;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
      }
      .dropdown-content
      {
          right: 0;
          left: 0;
          text-align: left;
      }
      .nav-item{
        text-align: center;
        position: relative;
        right: 45%;
        left: 55%;
        margin-top: none;
        margin-bottom: 0px;
        transform: translate(-50%, -50%);
    }
     #h
     {
        margin: 0%;
     }
     #au
     {
        margin-right: 5px;
     }
     #b
     {
        margin: 0%;
     }
     #cu
     {
        margin-right: 10px;
     }
  }

#h
{
    margin-right: 8px;
}
#au
{
    margin-left: 8px;
}
#b
{
    margin-right: 8px;
}
#cu
{
    margin-left: 10px;
}
@media screen and (max-width:365px)
{
    .nav-item{
        text-align: center;
        position: relative;
        right: 50%;
        left: 50%;
        top: 0;
        margin-top: 0px;
        margin-bottom: 0;
        transform: translate(-50%, -50%);
    }
    #h
    {
       margin-top: 15px;
       margin-bottom: -10px;
       margin-left: auto;
       margin-right: auto;
    }
    #au
    {
       margin-right: 5px;
       margin-left: 5px;
       margin-top: -5px;
       margin-bottom: -7px;
    }
    #p
    {
        margin: 0%;
    }
    #b
    {
       margin-top: -10px;
       margin-bottom: 5px;
    }
    #cu
    {
       margin-right: auto;
       margin-left: auto;
       margin-top: 0;
    }
    .nav-link
    {
        /*margin: 0;*/
    }
}
a.juiw:hover
{
    text-decoration: none;
    color: black;
}