<div class="main" style="background-color: black;">
    <img class="p" src="assets/img/logo.png">
    <img src="https://wallpapercave.com/wp/wp2998716.jpg" style="width: 100%;height: 100vh;opacity: 10%;position: relative;">
    <h1 class="ptit">IW Student Chapters</h1><br>
    <button routerLink="/home" routerLinkActive="active" style="background-color: #1187D1;border-style: none;color: white;position: absolute;top: 90%;left: 50%;transform: translate(-50%, -50%);padding: 10px 30px 10px 30px;border-radius: 30px;">Home</button>
</div>
<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/EP.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Esha Palorkar</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/ASV.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Angad Singh Virdi</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">IWSCSRM is dedicated to provide a platform for innovative minds to come together and explore creative ideas. We build a workplace to help each individual in improving the knowledge and better their skills. We have collaborated with various clubs to achieve common goals. Iwscsrm is a media partner to these clubs and publicizes their events. Our team consists of ambitious individuals from different domains who strive to achieve perfection and grow in their respective fields. We at iwscsrm aim to accomplish greater heights and provide our members with apt exposure.</p>
        </div>
    </div>
</div>


<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">DRC Chapter</h3>
    <div class="row">
        <div class="col-md-2" style="margin-top: 2rem;">
            <img src="assets/img/AD.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Aaryani Dogra</h5>
        </div>
        <div class="col-md-2" style="margin-top: 2rem;">
            <img src="assets/img/RB1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Radhika Bansal</h5>
        </div>
        <div class="col-md-2" style="margin-top: 2rem;">
            <img src="assets/img/MB1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Muskan Bajaj</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">IWSC DRC Chapter is aimed at bringing young creative minds together to explore themselves and grow with each other. We are a community of dedicated people who strive to create innovative ideas and thus improving their skills simultaneously. We have organized successful and constructive webinars with very reputed and prestigious institutions and personalities. 
                Since an organization's biggest asset is their resource, we have a team of highly committed people who aims to put their best in their respective fields. 
                We believe in:
                'Coming together is a beginning, 
                staying together is progress, 
                and working together is success.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">IGDTUW Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/SS1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Sristi Sharma</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/KS1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Khushi Singh</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">IWSC IGDTUW focuses on the opportunities that are available to students of every stream and every department and notifies the students about the same. Later on we plan to organizing some events and webinars to provide a wholesome experience to every student of our college.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">Indore Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/AJ1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Ayush Jain</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/SP1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Shreya Patel</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">	
                IWSC INDORE is a part of IWSC network led by inception wave, a tech company led by students of SRM Chennai.
                It was started in June 2020 and have organized several successful events in the interest of youth of the city.
                It aims to enhance the skills of students of indore and nearby areas. Having bunch of creative minds, the chapter is always pushing it's boundaries with the every event.
                The most successful event was the Among Us tournament, loved by the youth of Indore and they enjoyed a lot in that 3 hrs tournament.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">LSR Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/DB1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Diya Bansal</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/CN1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Chhavi Narang</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">We, at IWSC LSR, strive to create a work culture that we always envisioned. It’s a platform where a set of like-minded individuals come together to change the dynamics of the corporate and entrepreneurial world. We have a vibrant team of talented individuals from diverse backgrounds who have come together to work towards a common goal: making workspaces more conducive through the medium of social media and virtual platforms. We endeavour to not only limit our learnings and experiences to ourselves but extend it to the access of the entire college and beyond, hopefully. We have organised a number of events including webinars and skill-building workshops in order to achieve the same. Our Instagram handle continues to grow every day, expanding our reach and vision, thus, aligning more and more people with our goals and ideas.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">MSI-T Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/TR.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Tanishq Rana</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/SS2.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Suhani Sahrawat</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">We, the MSI-T chapter of Inception Wave primarily work towards building a close-knit network of college students who come together to exchange ideas, creativity, updates, participate in events and much more. Our chapter is mainly focused on giving a fun-filled experience to the collegiates and making every moment count of the best phase of their life; college! And this is made possible through a team of dedicated young minds in various fields like Social Media Marketing, Content Curators, Web developers, Event managers etc. None of it would've been possible without this team and our supporters.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SBSC Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/DV1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Deepali Verma</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/JS1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Jhanvi Saraswat</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Inception Wave Student Chapter Shaheed Bhagat Singh College is divided into smaller sub-teams based on domains and areas of interest and all these sub-teams operate synchronously. Namely Event Management, Human Resource Management, Social Media Marketing , Content Writing and Graphic Designing. Currently we have a team of 18 members striving to create a social media presence by hosting webinars, events and online workshops based on the interests and preferences of our audience. Our ultimate aim is to make like minded individuals come together to promote work culture while in college itself .</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">Vellore Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/PS1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Prateek Sinha</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/NB1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Nikita Boopathi</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">We bring in students all around the Vellore and industrial professional on a same platform to work and share ideas.
                We have department leads from all engineering branches expert in their respective domains who indulge in generating a healthy environment in our committee.
                Our flagship events includes MIP- Mentored Internship program, which was a success in its first edition.
                We regularly oraganise workshops and webinars with industrial experts who share their ideas.
                Our in-core sessions include interaction with the committee members to indulge in competitions. We also train our members through Localhost workshops.
                We are looking forward to expand our collaboration with other organisations in and around our campus.</p>
        </div>
    </div>
</div>


<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">VIPS Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/ST1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Shubhangi Thakur</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/TD1.png" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Tanya Dhawan</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">iwsc_vips in here abide by the same mantra of "All students can learn and Succeed, but not in the same day and definately not in the same way".


                If you are one of those vipsians who wish to get INDUSTRY LEVEL EXPERIENCE or curious to learn what happens inside a company while being at college, you definately dropped in at the right place!
                No more waiting for college to get over. Let's get started right away. We'll help you to get closer to you aimed destinations while you being in college itself.
                
                We're glad to make you aware that STUDENT CHAPTER-VIPS, Inception wave is up with its first ever Student Community, where the main agenda of ours will be putting up all the day-to-day Economics related Factuals on the board, since Economics is definitely NEED OF THE HOUR and keeping you updated on the same will be ours!
                
                
                Iwsc_vips is a team of 15-20 skilled students who are willing to get industrial level exposure, where our main aim is to work in coordination as a team to live by our Agenda, of creating a student community providing the audience with first hand kick ass economics related stuffs!
                </p>
        </div>
    </div>
</div>

<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">Vivek Vihar Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/TG1.jpg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Tripti Goel</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/AS1.jpeg" style="height: 150px;width: 150px;display: block;margin-left: auto;margin-right: auto;border-radius: 100%;">
            <h5 style="text-align: center;">Aartika Surana</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">IWSC-Vivek Vihar is working on to provide training to the students in financial literacy, corporate exposure and skill development.</p>
        </div>
    </div>
</div>



<style>
.p
{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ptit
{
        color: white;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        text-align: center;
        font-weight: 800;
        width: 100%;
        background: linear-gradient(to bottom,#fff 35%,#4e6773 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(35%,#fff),to(#4e6773));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
@media screen and (max-width: 440px)
{
    .ptit
    {
        font-weight: 200;
        font-size: 3rem;
        top: 70%;
    }
    .p
    {
        top: 40%;
    }
}
</style>