
<div class="main" style="background-color: black;">
    <img src="assets/img/logo.png" style="height: 150px;width: 150px;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%)">
    <img src="https://wallpapercave.com/wp/wp2998716.jpg" style="width: auto;height: 100vh;opacity: 10%;position: relative;">
    <h1 style="color: white;position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);font-size: 5vw;text-align: center;">IW Student Chapters</h1>
</div>
<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>


<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>



<div class="container">
    <h3 style="text-align: center;margin-top: 2rem;">SRM Chapter</h3>
    <div class="row">
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-3" style="margin-top: 2rem;">
            <img src="assets/img/logo.png" style="height: 120px;width: 120px;display: block;margin-left: auto;margin-right: auto;">
            <h5 style="text-align: center;">NAME NAME</h5>
        </div>
        <div class="col-md-6" style="margin-top: 2rem;">
            <p style="text-align: center;padding: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa voluptates aperiam nisi esse repudiandae laboriosam officia quidem sed eum magni. Molestias laborum impedit obcaecati odio nobis sapiente, commodi consequuntur esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis itaque vero minus consectetur recusandae pariatur necessitatibus eius vitae reiciendis quos nihil nobis, veritatis sapiente enim, dolorem, ut a magni sed.</p>
        </div>
    </div>
</div>

