<div class="hero" id="home" style="background-image: url('assets/img/background-hero.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="d-flex flex-column align-items-center h-100 justify-content-center">
            <div class="hero-logo" style="margin-top: 130px;">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="hero-title">
                <span>Inception Wave</span>
            </div>
            <div class="hero-subtitle">
                <span>Ameliorating Work Culture</span>
            </div>
            <div class="hero-icons">
                <ul class="d-flex list-unstyled m-0">
                    <li><a href="https://www.facebook.com/inceptionwave1202"><i class="fab pr-3 fa-lg fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/inception_wave/"><i class="fab pr-3 fa-lg fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/inceptionwave/"><i class="fab pr-3 fa-lg fa-linkedin-in"></i></a></li>
                    <!--<li><a href="https://iwscsrm.medium.com/"><i class="fab fa-lg fa-medium-m"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about mt-4">
    <div class="about-title" id="aboutus" style="font-weight: 200;">What Is Inception Wave?</div>
    <div class="about-container container">
        <span class="text-center">
            Inception Wave is an organisation that combines the entrepreneurial innovation driven mindset
            of an emerging and vibrant youth community with the colossal upsides and tremendous
            convenience that comes with effective connection and collaboration. Our vision is to effectively
            enhance professional culture by enabling our users to find the people and communities there
            personal and professional interests align with. This is envisioned as a process that will
            compartmentalize and segregate online spaces on our services via parameters such as
            geographical location, interests, experiences and potential prospects. The idea is to present and
            furnish a platform where it is the users who decide their preferences and are able to come
            across an extensive community of like-minded people that share common aspirations and a
            more-or less unified outlook. Being a student-led and student-run enterprise, the key feature
            here is flexibility, adaptability, and dynamic feedback response.
            </span>
    </div>
  


    <div class="container my-4">

   
    
        <hr class="my-4">
    
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    
          <!--Controls-->
          <div class="controls-top" style="align-items: center;">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev" style="float: left;"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next" style="float: right;"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->
    
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
    
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
    
            <!--First slide-->
            <div class="carousel-item active">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/1.jpeg"
                      alt="Card image cap">
                 
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/2.jpeg"
                      alt="Card image cap">
                   
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/3.jpeg"
                      alt="Card image cap">
                  
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.First slide-->
    
            <!--Second slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/4.jpeg"
                      alt="Card image cap">
                
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/5.jpeg"
                      alt="Card image cap">
           
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/9.jpeg"
                      alt="Card image cap">
               
                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Second slide-->
    
            <!--Third slide-->
            <div class="carousel-item">
    
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/10.jpg"
                      alt="Card image cap">
                 
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/11.jpeg"
                      alt="Card image cap">
                   
                  </div>
                </div>
    
                <div class="col-md-4 clearfix d-none d-md-block">
                  <div class="card mb-2">
                    <img class="card-img-top" src="assets/img/7.jpeg"
                      alt="Card image cap">

                  </div>
                </div>
              </div>
    
            </div>
            <!--/.Third slide-->
    
          </div>
          <!--/.Slides-->
    
        </div>
        <!--/.Carousel Wrapper-->
    
        <a routerLink = "/gallery" class="but"><button type="button" class="btn btn-primary" style="display: block;margin-left: auto;margin-right: auto;margin-top: 2vw;">Gallery</button></a>
      </div>
    <!--<div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
          <div class="swiper-slide"><img src="assets/img/1.jpeg" class="im"></div>
       </div>

        <div class="swiper-pagination"></div>

      
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 200,
            modifier: 1,
            slideShadows: true,
          },
          loop: true,
          autoplay: {
          delay: 1000,
          disableOnInteraction: false,
        },
        });
      </script>-->
    <!--<div class="car mt-3">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="gallery-card">
                    <img src="assets/img/1.jpeg">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="gallery-card">
                    <img src="assets/img/2.jpeg">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="gallery-card">
                    <img src="assets/img/3.jpeg">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="gallery-card">
                    <img src="assets/img/4.jpeg">
                </div>
            </ng-template>  
            <ng-template carouselSlide>
                <div class="gallery-card">
                    <img src="assets/img/5.jpeg">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>-->
<div class="what-we-do" style="background-image: url('assets/img/wwd1.svg');">
    <!-- <div class="overlay"></div> -->
    <div class="wwd-title" style="font-family: 'Actor'; font-weight: 100;">What We Do?</div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center"style="flex-direction: column;">
                <ng-lottie [options]="weboptions" width="300px" height="400px" (animationCreated)="animationCreated($event)"></ng-lottie>
                <h3 class="text-center">Web Development</h3>
              </div>
              <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center"style="flex-direction: column;">
                <ng-lottie [options]="appoptions" width="300px" height="400px" (animationCreated)="animationCreated($event)"></ng-lottie>
                <h3 class="text-center">Application Development</h3>
              </div>
              <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center"style="flex-direction: column;">
                <ng-lottie [options]="marketoptions" width="300px" height="400px" (animationCreated)="animationCreated($event)"></ng-lottie>
                <h3 class="text-center">Marketing & Buisness Solutions</h3>
              </div>
        </div>
    </div>
</div>
<div class="project1" style="padding: 50px;" id="iwprojects1">
    <h1 style="text-align: center; font-family: 'Actor';font-weight: 200;margin: 20px;">Our Projects</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="box-shadow: 1px 1px 2px 1px #c9c9c9;padding: 20px;">
                <img style="width: 200px;height: 200px;display: block;margin-left: auto;margin-right: auto;" src="assets/img/grapido.png">
                <h3 style="text-align: center;">Grapido</h3>
                <a href="http://grapido.in/home" class="projectlink"><button style="display: block;margin-left: auto;margin-right: auto;" class="btn btn-primary">Know More</button></a>
            </div>
            <div class="col-md-4" style="box-shadow: 1px 1px 2px 1px #c9c9c9;padding: 20px;">
                <img style="width: 200px;height: 200px;display: block;margin-left: auto;margin-right: auto;" src="assets/img/SRMpedia.png">
                <h3 style="text-align: center;">SRMpedia</h3>
                <a href="https://srmpedia.in/" class="projectlink"><button style="display: block;margin-left: auto;margin-right: auto;" class="btn btn-primary">Know More</button></a>
            </div>
            <div class="col-md-4" style="box-shadow: 1px 1px 2px 1px #c9c9c9;padding: 20px;">
                <img style="width: 200px;height: 200px;display: block;margin-left: auto;margin-right: auto;" src="assets/img/swiftcare.png">
                <h3 style="text-align: center;">Swiftcare</h3>
                <a href="#" class="projectlink"><button  style="display: block;margin-left: auto;margin-right: auto;" class="btn btn-primary">Know More</button></a>
            </div>
        </div>
    </div>
</div>

<!--<div class="project" id="iwprojects">
    <div class="project-title">Our Projects</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 col-lg-6">
                        <div class="project-card">
                            
                                <img src="assets/img/grapido.png" alt="">
                                <div class="projects-title"><a class="opa" href="http://grapido.in/home">Grapido</a></div>
                            
                        </div>
                    </div>
                    <div class="col-10 col-lg-6">
                        <div class="project-card">
                            <img src="assets/img/SRMpedia.png" alt="">
                            <div class="projects-title"><a class="opa" href="https://srmpedia.in/">SRMpedia</a></div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6">
                        <div class="project-card">
                            <img src="assets/img/swiftcare.png" alt="">
                            <div class="projects-title"><a class="opa" href="">SwiftCare</a></div>
                        </div>
                    </div>
                </div>
                <a class="" data-toggle="modal" data-target="#exampleModal">
                <button type="button" class="btn btn-primary" style="display: block;margin-left: auto;margin-right: auto;">Description</button>
            </a>
            </div>
            <div class="col-lg-5 d-lg-flex justify-content-center align-items-center d-none">
                <img src="assets/img/swob.svg" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>-->
<div class="student-chapters" style="background-image: url('assets/img/wwd1.svg');">
    <div class="sc-title" style="font-family: 'Actor'; font-weight: 100;">Student Chapters</div>
    <img src="assets/img/sc.png" class="scph">
    <!--<div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="srm chapter"></div>
                <div class="sc-imgtitle">SRM Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="msit chapter"></div>
                <div class="sc-imgtitle">MSIT Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">DRC Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">SBSEC Chapter</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="srm chapter"></div>
                <div class="sc-imgtitle">Daulat Ram Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="msit chapter"></div>
                <div class="sc-imgtitle">VIPS Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">Vivekanand  Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">VIT Chapter</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="srm chapter"></div>
                <div class="sc-imgtitle">Indore Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="msit chapter"></div>
                <div class="sc-imgtitle">BRAC Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">Banasthali Chapter</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <div class="sc-img d-flex justify-content-center"><img src="assets/img/sc.png" alt="drc chapter"></div>
                <div class="sc-imgtitle">LSR Chapter</div>
            </div>
        </div>
    </div>-->
    <a routerLink = "/iwsc" class="but"><button type="button" class="btn btn-primary" style="display: block;margin-left: auto;margin-right: auto;margin-top: 2vw;">Know More</button></a>
</div>
<div class="mentors">
    <div class="mentors-title">Mentors</div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="mentor-card">
                <div class="card-img mx-auto">
                    <img src="assets/img/ritesh-bhat.jpeg" alt="">
                </div>
                <div class="card-name">Ritesh Bhat</div>
                <div class="card-icons">
                    <a href="https://www.instagram.com/__bhatman__/" class="ig"><img src="assets/img/instagram.svg" alt=""></a>
                    <a href="https://www.linkedin.com/in/ritesh-bhat-528895a3/" class="fb"><img src="assets/img/linkedin.svg" alt=""></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="mentor-card">
                <div class="card-img mx-auto">
                    <img src="assets/img/g-surender.jpeg" alt="">
                </div>
                <div class="card-name">G Surendra Thina</div>
                <div class="card-icons">
                    <a href="https://www.instagram.com/gsthina.me/" class="ig"><img src="assets/img/instagram.svg" alt=""></a>
                    <a href="https://www.linkedin.com/in/gsthina" class="fb"><img src="assets/img/linkedin.svg" alt=""></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="mentor-card">
                <div class="card-img mx-auto">
                    <img src="assets/img/sukriti-saroj.jpeg" alt="">
                </div>
                <div class="card-name">Sukriti Saroj</div>
                <div class="card-icons">
                    <a href="" class="ig"><img src="assets/img/instagram.svg" alt=""></a>
                    <a href="https://www.linkedin.com/in/sukriti-saroj/" class="fb"><img src="assets/img/linkedin.svg" alt=""></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="blogs" id="blog">
    <h2 style="text-align: center;margin: 30px;font-weight: 600;color: rgba(0, 0, 0, 0.69);font-size: 3rem;">Blogs</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <blockquote class="embedly-card"><h4><a href="https://iwscsrm.medium.com/mental-health-cae633520c2b">Mental Health</a></h4><p>Nowadays, since the lockdown has been imposed, all of us have been encaptured amidst the four walls of our homes. But as soon as the unlock phase began, most of us took it as an opportunity to escape the prison called home.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
          <div class="carousel-item">
            <blockquote class="embedly-card"><h4><a href="https://iwscsrm.medium.com/departed-soul-guiding-through-life-e30edd02f481">Departed soul: Guiding through life</a></h4><p>The relationship between a grandchild and grandparent is a special one. While grandparents act as anauthority figure and provide unconditional love, they also get to spoil their grandkids in a way parents simply can't.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
          <div class="carousel-item">
            <blockquote class="embedly-card"><h4><a href="https://iwscsrm.medium.com/m-s-dhoni-dfbb35cf82f3">M.S. Dhoni</a></h4><p>I still can't get the image of you hitting the world cup winning six at Wankhade out of my head. I remember watching you hit the six and running straight outside to yell "Indiaaaaaa. Indiaaaaaa", with my colony friends.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<h1 style="text-align: center; padding: 30px;font-weight: bolder;font-weight: 600;color: rgba(0, 0, 0, 0.69);font-size: 3rem;">Live Updates</h1>
<div id="instafeed-container"></div>
<!--<style >
    a img{ 
        width: 20%;

    }
    a img:hover
    {
        opacity: 50%;
        }
        #instafeed-container
        {
            flex-wrap: wrap;
            flex-direction: row;
            background-color: black;
        }
        @media only screen and (min-width: 768px)
        {
            a img
            {
                width: 100%;
            }
        }
</style>
-->

<div class="elfsight-app-e5824783-5bee-4a59-aae2-c437f4f7e2b2"></div>

<!-- modal -->
<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade grapido-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog h-100" style="max-width: 80vw!important;">
      <div class="modal-content h-100">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body h-100">
            <div class="container h-100">
                <div class="row h-100">
                    <!--<div class="col-lg-5 col-12 d-flex align-items-center w-100" style="border-right: 1px solid black;">
                        <img src="assets/img/swob.svg" alt="" class="w-100">
                    </div>-->
                    <div class="col-lg-12 col-12" style="background-color: white;">
                        <span class="grapido-title">Grapido</span>
                        <p> Grapido uniquely allows you to create a unique profile that is a holistic blend of the best of your personal and professional. While most other platforms either fall into binaries, such as some exist for résumés and some for vacation photos and poetry; Grapido nudges you to break binaries and present yourself as you are, and choose the typology of profile and audience or people you want to target. Present your achievements, certificates, licenses, skills and talents and have control over the proportional representation each of them will have to other members. Grapido encourages you to establish yourself as a brand.</p>
                        <span class="grapido-title">SRM Pedia</span>
                        <p>College is the beginning of a new chapter in our lives. We step out of our homes, our cocoons into this entirely new world, were we try to find a place for ourselves. New place, new faces and a new language can often be intimidating. SRMIST being a place with a huge student population and a vast campus in the city of Chennai provides you with a plethora of activities you could indulge in but also leaves the students feeling overwhelmed and confused. Struggling to find the way is very common among the students and in addition, the language being new makes things harder.
                            We bring you SRMpedia, an app or rather your own personal guide which will be an answer to all your problems.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  
  <!--<blockquote class="embedly-card"><img src="https://scontent-dfw5-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/122649059_126868928915173_8783535538451270378_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&_nc_cat=101&_nc_ohc=ty6QXrWjZwkAX_SBlmg&_nc_tp=24&oh=0fce2617058e24b6c57d293b93d65e7a&oe=5FC46F71">
      <h4><a href="https://medium.com/starts-with-a-bang/4-ways-that-scientists-and-academics-can-effectively-combat-racism-66e73e20a489?source=extreme_main_feed---------2-58--------------------0cdd2cf8_f458_4fbd_8618_cd8cf79b5f7b-------">4 Ways That Scientists And Academics Can Effectively Combat Racism</a></h4><p>It could be your colleague, your coworker, your staff member, or your student. As the world mourns the violent and unnecessary death of yet another black man - George Floyd - at the hands of police officers, many...</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>-->
